.es-col {
  display: flex;
  align-items: center;
}
.text-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: var(--el-fill-color-light);
  }
  :deep(.es-icon) {
    margin-right: 4px;
  }
}
:deep(.el-row) {
  margin-bottom: 10px;
  .el-button-group,
  .el-checkbox-group {
    display: inline-flex;
    width: 100%;
  }
  .el-checkbox-group,
  .el-checkbox-button__inner {
    width: 100%;
  }
}
